.venv/
Applied Machine Learning/Assignments/A2/UK data/
Applied Machine Learning/Assignments/A2/UK data/**/*.csv
Applied Machine Learning/lecture notebooks/saved_models/
Applied Machine Learning/lecture notebooks/data
Applied Machine Learning/lecture notebooks/week10/data
Applied Machine Learning/lecture notebooks/week11/data
Research project/Project coding/catalog data/**
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
Accelerated processing/aes_subbytes_shiftrows_mvp/build/
Accelerated processing/aes_ctr_full_pipeline_compile_test/build/
Accelerated processing/hls-samples/

Research project/Project coding/Boris work/cosmos2020_mir_photometry.h5
